*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@media screen and (min-width: 769px) {
   
    #text1 {
        font-size: 2rem;
        
    }
    #subtext{
        color: rgb(255, 255, 255);
            

        }
    #email1 {
        font-size: 26px;
        min-width: 500px; 
    }

#submit{
    margin-top: 8%;
    width: 150px;
}
#login{
width: 150px;
height: 500px;
}




}
body {
    font-family: 'Arial', sans-serif;
    background-color: #141414;
    color: #fff;
    background-image: url(./images/ChatGPT\ Image\ Jul\ 30\,\ 2025\,\ 11_50_38\ PM.png);
    background-size: cover;
    height: 100dvh;
    padding: 5PX;
    background-position: center;
}
header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between; /* Adiciona espaço entre os itens */
    padding-top: 11px;
#logo{
    width: 150px;
    height: 50px;
    background-image: url(./images/vecteezy_netflix-transparent-png-netflix-free-png_19956187.png);
    background-size: cover;
    margin-left: 20px;
    align-self: flex-start;
}
#entrar{
    align-self: flex-end;
    margin-right: 20px;
    
}
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 87dvh;

}
#login{
     min-height: 35px;
    max-height: 38px;
}
button{
    width: 80px;
    
    background-color: #e50914;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 20px;

    ;
}
button:hover{
    background-color: #c5151e;
    color: #000000;
    transition: 0.3s;
}
#text1{
    font-size: 1,9rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    text-shadow: #000000  0px 0px 4px, #000000 0px 0px 5px;
}
#subtext{
    font-size: 1rem;
    text-align: center;
    margin-bottom: 30px;
}
#inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    box-shadow: #000000 0px 0px 10px;
    
}
#email1 {
    width: 150px;
    height: 40px;
    border: none;
    padding-left: 10px;
    font-size: 12px;
    border-radius: 5px 0px 0px 5px;
}
#email1:focus {
    outline: none;
}
#submit{
    margin-bottom: 8%;
    height: 40px;
    border-radius: 0px 5px 5px 0px;
}
footer{
  margin-top: 40px;
color: #fff5f53f;
}